@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Edu-SA";
    src: url(./assets/fonts/Edu_SA_Beginner/EduSABeginner-VariableFont_wght.ttf)
      format("truetype");
  }
  
  .font-Monoton {
    font-family: "Monoton";
  }
  
  .font-Edu-SA {
    font-family: "Edu-SA";
  }
  body {

	background: linear-gradient(45deg, #000000,#434343); 
    
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}